.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.start-speaking-btn {
  background-color: #d6e0de;
  color: #000;
  padding: 15px 30px;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
}

.moving-shape {
  margin-top: 40px;
  width: 50px;
  height: 50px;
  background-color: #e0ebe8;
  border-radius: 50%;
  animation: move 1.5s infinite alternate ease-in-out;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200px);
  }
}

.listening-shape {
  margin-top: 40px;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  border-radius: 50%;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.record-btn,
.stop-btn,
.end-btn {
  background-color: #007bff;
  color: #fff;
  margin-top: 20px;
}

.waiting-shape {
  margin-top: 40px;
  width: 50px;
  height: 50px;
  background-color: #ffa500;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
